@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">Contact Us</h2>
    <h4>For all general enquiries, please call +61 3 9902 6000 during business hours: Monday to Friday, 9am-5pm.</h4>
    <address>
        One Healthcare Way<br />
        Clayton, VIC 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <address>
    </address>
</main>