@{
    ViewBag.Title = "Home Page";
}

<main class="video-landing-page">
    <video playsinline autoplay muted loop id="bgvid">
        <source src="~/backgroundVid.mp4" type="video/mp4">
    </video>

    <section class="overlay-content container">
        <h1 id="title">Book an Appintment</h1>
        <p class="lead">We can schedule appointments between 9 and 5pm daily</p>
        @Html.ActionLink("Book >>", "Create", "Bookings", new { area = "" }, new { @class = "btn btn-primary btn-lg" })

    </section>

    <div class="additional-info container">
        <div class="row">
            <section class="col-sm-12 col-md-4">
                <h2>What we do</h2>
                <p>MediSight imaging provides medical imaging services for patients, specializing in x-ray imaging.</p>
            </section>
            <section class="col-sm-12 col-md-4">
                <h2>Wide range of imaging types</h2>
                <p>We provide advanced x-ray imaging services such as digital radiography, fluoroscopy and bone density imaging.</p>
            </section>
            <section class="col-sm-12 col-md-4">
                <h2>Safety</h2>
                <p>All of our imaging services are conducted with minimal radiation exposure ensuring patient safety and care. </p>
            </section>
        </div>
    </div>
</main>

 <style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }

    .video-landing-page {
        position: relative;
        height: 100vh;
    }

     #bgvid {
         position: fixed;
         top: 50%;
         left: 50%;
         min-width: 100%;
         min-height: 100%;
         width: auto;
         height: auto;
         z-index: -100;
         transform: translateX(-50%) translateY(-50%);
         background-size: cover;
     }


     .overlay-content {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         text-align: center;
         color: #ffffff;
         z-index: 1;
         width: 100%;
         padding-top: 40px;
     }

    .lead {
        margin-bottom: 1em;
    }

    .btn-primary {
        background-color: rgba(0, 123, 255, 0.9);
    }

    .additional-info {
        padding-top: 40px;
    }

    .btn-outline-light {
        border-color: #ffffff;
        color: #ffffff;
        background-color: transparent;
    }

    .btn-outline-light:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    h2 {
        color: #ffffff;
        margin-bottom: 10px;
        font-weight: 800;
    }

     h1 {
         color: #ffffff;
         margin-bottom: 10px;
         font-weight: 800;
     }

     p {
         color: rgba(255, 255, 255, 0.7);
         font-weight: 800;
     }


    /* Media Query for mobile devices */
    @@media (max-width: 768px) {
     .overlay-content {
         padding-top: 30rem;
     }
    }
</style>
